.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-group input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.password-input-container {
	position: relative;
	width: 500px;

}

.password-toggle-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
	background: none;
	border: none;
}

.error-message {
	color: red;
	margin-bottom: 15px;
}
